<section class="pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="gradient-1 gradient-block">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="p-5">
                                <h1 class="mb-4 text-white">Saber Interactive Sale
                                </h1>
                                <h6 class="font-weight-normal text-white-50 mb-4">Great savings on
                                    SnowRunner and World War Z!
                                </h6>
                                <a href="#" class="btn btn-light btn-lg">Save Now</a>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <img class="img-fluid" src="img/3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>