<section class="py-4 osahan-copyright">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="d-flex align-items-center justify-content-between">
                    <p class="m-0 text-muted">Copyright © Your Website 2020 | Made with <i
                            class="feather-heart text-danger"></i> by <a class="text-dark" target="_blank"
                            href="https://www.instagram.com/iamgurdeeposahan/">Askbootstrap</a></p>
                    <p class="m-0">
                        <a href="#" class="text-secondary">About Us</a>
                        &nbsp; · &nbsp;
                        <a href="#" class="text-secondary">Privacy Policy</a>
                        &nbsp; · &nbsp;
                        <a href="#" class="text-secondary">Terms &amp; Conditions</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>