.img-fluid {
    margin-left: 83px;
    max-width: 91%;
    height: 291px;
}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot {
    height: 30px;
    width: 68px;
}