<section class="pb-5">
    <div class="container-fluid px-0">
        <div class="row m-0">
            <div class="col-lg-12 px-0">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active">
                        </li>
                    </ol>
                    <div class="carousel-inner" role="listbox">

                        <div class="carousel-item">
                            <div class="osahan-slider">
                                <div class="bg-light">
                                    <div class="row align-items-center">
                                        <div class="col-lg-8 px-0">
                                            <img class="img-fluid" src="img/slider/6.jpg" alt="">
                                        </div>
                                        <div class="col-lg-4 px-0">
                                            <div class="p-5">
                                                <small class="text-muted">PC GAMER PRESENTS</small>
                                                <h3 class="my-4">PC Gaming Show
                                                </h3>
                                                <p class="font-weight-normal mb-4 text-muted">Explore
                                                    some of the biggest and best games from this year's
                                                    show!
                                                </p>
                                                <a href="store.html" class="btn btn-primary">Learn
                                                    More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="osahan-slider">
                                <div class="bg-light">
                                    <div class="row align-items-center">
                                        <div class="col-lg-8 px-0">
                                            <img class="img-fluid" src="img/slider/5.jpg" alt="">
                                        </div>
                                        <div class="col-lg-4 px-0">
                                            <div class="p-5">
                                                <small class="text-muted">EARLY ACCESS</small>
                                                <h3 class="my-4">Among Trees
                                                </h3>
                                                <p class="font-weight-normal mb-4 text-muted">Explore a
                                                    colorful, breathing world that is filled to the brim
                                                    with life. From dense forests to dark caves.
                                                </p>
                                                <a href="store.html" class="btn btn-warning">Learn
                                                    More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item active">
                            <div class="osahan-slider">
                                <div class="bg-light">
                                    <div class="row align-items-center">
                                        <div class="col-lg-8 px-0">
                                            <img class="img-fluid" src="img/slider/7.jpg" alt="">
                                        </div>
                                        <div class="col-lg-4 px-0">
                                            <div class="p-5">
                                                <small class="text-muted">EARLY ACCESS</small>
                                                <h3 class="my-4">Mount &amp; Blade II: Bannerlord
                                                </h3>
                                                <p class="font-weight-normal mb-4 text-muted">The
                                                    eagerly awaited sequel to the acclaimed medieval
                                                    combat simulator is available now in Ealy Access!
                                                </p>
                                                <a href="store.html" class="btn btn-primary">Learn
                                                    More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                        data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                        data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>