<section class="pb-5">
    <div class="container-fluid px-0">
        <div class="row m-0">
            <div class="col-lg-12 px-0">

                <owl-carousel-o [options]="carouselOptions">
                    <ng-template carouselSlide  *ngFor="let prd of newReleases">
                        <div class="item">
                            <div class="slider">
                                <div class="bg-light">
                                    <div class="row align-items-center">
                                        <div class="col-lg-8 px-0">
                                            <img class="img-fluid" src="{{prd.photos}}" alt="">
                                        </div>
                                        <div class="col-lg-4 px-0">
                                            <div class="p-5">
                                                <small class="text-muted">{{prd.developer}}</small>
                                                <h3 class="my-4">{{prd.name}}
                                                </h3>
                                                <p class="font-weight-normal mb-4 text-muted">Explore
                                                    some of the biggest and best games from this year's
                                                    show!
                                                </p>
                                                
                                                <a href="store.html" class="btn btn-primary">Learn
                                                    More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>