<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link active" href="index.html">
                        <div class="sb-nav-link-icon"><i class="feather-home"></i></div>
                        Homepage
                    </a>
                    <div class="sb-sidenav-menu-heading">Store</div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
                        aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="feather-shopping-bag"></i></div>
                        Store
                        <div class="sb-sidenav-collapse-arrow"><i class="feather-chevron-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                        data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="store.html">Store List</a>
                            <a class="nav-link" href="store-single.html">Store Single</a>
                        </nav>
                    </div>
                    <div class="sb-sidenav-menu-heading">News</div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNews"
                        aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="feather-book-open"></i></div>
                        News
                        <div class="sb-sidenav-collapse-arrow"><i class="feather-chevron-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseNews" aria-labelledby="headingOne"
                        data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="news.html">News List</a>
                            <a class="nav-link" href="news-single.html">News Single</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                        aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="feather-folder-plus"></i></div>
                        Pages
                        <div class="sb-sidenav-collapse-arrow"><i class="feather-chevron-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                        data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                data-target="#pagesCollapseAuth" aria-expanded="false"
                                aria-controls="pagesCollapseAuth">
                                Authentication
                                <div class="sb-sidenav-collapse-arrow"><i class="feather-chevron-down"></i>
                                </div>
                            </a>
                            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                                data-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="sign-in.html">Sign In</a>
                                    <a class="nav-link" href="sign-up.html">Sign Up</a>
                                    <a class="nav-link" href="forgot-password.html">Forgot Password</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                data-target="#pagesCollapseError" aria-expanded="false"
                                aria-controls="pagesCollapseError">
                                Error
                                <div class="sb-sidenav-collapse-arrow"><i class="feather-chevron-down"></i>
                                </div>
                            </a>
                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                                data-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="404.html">404 Not Found</a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                    <div class="sb-sidenav-menu-heading">Addons</div>
                    <a class="nav-link" href="components.html">
                        <div class="sb-nav-link-icon"><i class="feather-code"></i></div>
                        Components
                    </a>
                    <a class="nav-link" href="faq.html">
                        <div class="sb-nav-link-icon"><i class="feather-help-circle"></i></div>
                        FAQ
                    </a>
                    <a class="nav-link" href="contact.html">
                        <div class="sb-nav-link-icon"><i class="feather-phone"></i></div>
                        Contact
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Askbootstrap
            </div>
        </nav>
    </div>
</div>