<div class="osahan-card">
    <a [routerLink]="['/app/catalogue/product',product.id]">
        <img class="img-fluid" src="{{product.photos[0]}}" alt="{{product.name}}">
            <div *ngIf="product.price==0" class="bg-warning text-center p-1 text-dark">Free Now</div>
        <div class="osahan-card-body mt-3">
            <h6 class="text-dark mb-1">{{product.name}}</h6>
            <p class="mb-0 text-muted">Added Date - {{(product.addedDate) | date:'MMM d, y, h:mm a' }}</p>
            
            <div class="price mt-3" *ngIf="product.discount==null">
                <span class="text-dark">${{product.price}}</span>
            </div>
            
            <div class="price mt-3" *ngIf="product.discount!=null">
                <div class="bg-primary d-inline-block text-center px-2 py-1 text-white">
                    {{product.discount.percentage}}%
                </div>
                <span class="text-dark">${{(product.price-(product.price*product.discount.percentage/100)) | number:'.2-2'}}</span>
                <s class="text-muted mx-1">${{product.price}}</s>
            </div>
            
        </div>
    </a>
</div>