<section class="pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="p-5 pb-lg-4 bg-dark">
                    <div class="d-flex align-item-center title mb-3">
                        <h5 class="m-0 font-weight-normal">Free Games</h5>
                        <a href="store.html" class="btn btn-sm btn-outline-dark ml-auto">VIEW MORE</a>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="osahan-card">
                                <a href="store-single.html">
                                    <img class="img-fluid" src="assets/img/1 (1).jpg" alt="">
                                    <div class="bg-primary text-center p-1 text-white">Free Now</div>
                                    <div class="osahan-card-body mt-3">
                                        <h6 class="text-dark mb-1">Pathway</h6>
                                        <p class="m-0 text-muted">Free Now - Jun 25 at 08:30 PM</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="osahan-card">
                                <a href="store-single.html">
                                    <img class="img-fluid" src="assets/img/1 (1).jpg" alt="">
                                    <div class="bg-dark-2 text-center p-1 text-muted">Coming Soon</div>
                                    <div class="osahan-card-body mt-3">
                                        <h6 class="text-dark mb-1">AER Memories of Old</h6>
                                        <p class="m-0 text-muted">Free Now - Jun 25 at 08:30 PM</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="osahan-card">
                                <a href="store-single.html">
                                    <img class="img-fluid" src="assets/img/1 (1).jpg" alt="">
                                    <div class="bg-warning text-center p-1 text-dark">Free Now</div>
                                    <div class="osahan-card-body mt-3">
                                        <h6 class="text-dark mb-1">Stranger Things 3: The Game</h6>
                                        <p class="m-0 text-muted">Free Now - Jun 25 at 08:30 PM</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>